<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ContainerResourceId>/subscriptions/a5a43f15-80c5-4cd1-a737-bf43d67d7162/resourceGroups/only-fans-dump/providers/Microsoft.ContainerRegistry/registries/OnlyFansDumperWeb20210626000553</ContainerResourceId>
    <ContainerResourceName>OnlyFansDumperWeb20210626000553</ContainerResourceName>
    <Subscription>Bezpłatna wersja próbna</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>onlyfansdumperweb20210626000553.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/a5a43f15-80c5-4cd1-a737-bf43d67d7162/resourcegroups/only-fans-dump/providers/Microsoft.Web/sites/OnlyFansDumperWeb20210626001813</ResourceId>
    <ResourceGroup>only-fans-dump</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://onlyfansdumperweb20210626001813.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://onlyfansdumperweb20210626001813.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>90f4ace2-1870-48e4-a62e-01d7267ed174</ProjectGuid>
  </PropertyGroup>
</Project>