<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/a5a43f15-80c5-4cd1-a737-bf43d67d7162/resourceGroups/only-fans-dump/providers/Microsoft.ContainerRegistry/registries/OnlyFansDumperWeb20210626000553</ResourceId>
    <ResourceName>OnlyFansDumperWeb20210626000553</ResourceName>
    <ResourceGroup>only-fans-dump</ResourceGroup>
    <Subscription>Bezpłatna wersja próbna</Subscription>
    <RegistryUrl>https://onlyfansdumperweb20210626000553.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>90f4ace2-1870-48e4-a62e-01d7267ed174</ProjectGuid>
  </PropertyGroup>
</Project>